## Dataset

- The dataset we use is Breast Cancer dataset which is available at https://archive.ics.uci.edu/dataset/14/breast+cancer
- We describe this dataset in details in the website part of the project

## Data Loading and Preprocessing

In [1]:
# Loading the required packages
import pandas as pd
import numpy as np

In [2]:
#Load the data to be preprocessed
df = pd.read_csv('breast-cancer.csv')

In [3]:
#Display the first 10 rows from the data
df.head(10)

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no
7,no-recurrence-events,60-69,ge40,20-24,0-2,no,1,left,left_low,no
8,no-recurrence-events,40-49,premeno,50-54,0-2,no,2,left,left_low,no
9,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,left_up,no

 #### - The Class attribute is binary which is **no-recurrence-events** or **recurrence-events**

## Data Processing

In [4]:
df.shape #showing the number of rows and columns (row,columns)

(286, 10)

In [5]:
df.columns #displaying the columns in the dataset

Index(['class', 'age', 'menopause', 'tumor-size', ' inv-nodes', 'node-caps',
       'deg-malig', 'breast', ' breast-quad', 'irradiat'],
      dtype='object')

In [6]:
df.info() #The information here shows that we have mixed of categorical and integer attribute. This follows the requirement of the project of having two or more data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   class         286 non-null    object
 1   age           286 non-null    object
 2   menopause     286 non-null    object
 3   tumor-size    286 non-null    object
 4    inv-nodes    286 non-null    object
 5   node-caps     286 non-null    object
 6   deg-malig     286 non-null    int64
 7   breast        286 non-null    object
 8    breast-quad  286 non-null    object
 9   irradiat      286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [7]:
# Checking for missing values in dataset
missing_value = df.isnull().sum()
missing_value

class           0
age             0
menopause       0
tumor-size      0
 inv-nodes      0
node-caps       0
deg-malig       0
breast          0
 breast-quad    0
irradiat        0
dtype: int64

#### The information above shows that there is no missing values in the dataset. Then, we proceed by using the dataset for the next stages.